.container_travels {
    display: flex;
    justify-content: center;
    margin-top: 80px;
}

.title {
    color: var(--burly-wood);
    /* color: #20914b; */
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 20px;
  }

 