.container {
  display: flex;
  background: whitesmoke;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}


.secretaria {
  flex: 0 0 auto;
  margin-right: 20px;
  margin-top: 70px;
  margin-bottom: 20px;
}

.secretariaImage {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  margin-left: 20px;
}


.message {
  display: flex; /* Enable flexbox for the message container */
  flex-direction: column; /* Make the message container a single-column flexbox container */
  align-items: center; /* Center the message content horizontally */
  padding: 20px;  
}

.message h2 {
  font-size: 24px;
  margin-bottom: 10px;
  color: antiquewhite;
}

.message p {
  font-size: 26px;
  line-height: 1.5;
  color: rgb(49, 48, 47);
  /* align-items: center; */
  text-align: justify;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: center;
  }

  .secretaria,
  .message {
    width: 100%;
    max-width: 400px;
  }

   .secretariaImage {
    margin: 50px 100px auto;
  }

 
}
